<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image perfector</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/imageReducer.css">
    <link rel="icon" href="info.png">
    <meta name="description" content="Reduce your picture size while maintaining picture quality for Free">
    <meta name="keywords" content="image reducer,picture reducer, reduce picture size while maintaining picture quality">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="techfinace.com/image-perfector">
    <meta name="twitter:title" content="Image perfector">
    <meta name="twitter:description" content="Reduce your picture size while maintaining picture quality for free">
    <meta name="twitter:image" content="info.png">
        <!-- Additional Google Analytics for domain name -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VH93864DQ1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-VH93864DQ1');
        </script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7226418403929317"
crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <a href="/" id="home">Home <i class="fas fa-home fa-2x"></i> </a>
        <h1>Image perfector</h1>
        <img src="info.png" alt="logo">
        <h3>Reduce your image size's while maintaining picture quality</h3>
    </header>
    <main>
        <div id="input">
            <p>!!
            Please note that you can only process one image at a time. additionally, we can only save
            up to 50 reduced images. if you exceed this limit, the earliest saved images will be automatically
            deleted to make room for new ones.The tool is designed to work with various image types
            commonly supported by HTML5,including JPEG,PNG, and GIF.NOTE that the resizing process
            doesn't optimise the colour palette for GIF images. While the tool should work
            for other images formats like BMP or TIFF,it may not fully optimise or convert them. Thank you for understanding!
            </p>
            <input type="file"  accept="image/*" id="addImages">
            <label for="images" id="input-label">add your picture to be resized<i class="fas fa-image"></i></label>
        </div>
        <div id="image-input">
            <div id="selectedImageInfo">
                <h4 id="actual-img"></h4>
                <img src="" alt="" id="selectedImage">
                <p id="img-name"></p>
                <p id="imgSize"></p>    
            </div>
            <div id="procesedImgHolder">
                <h4 id="compressed-img"></h4>
                <img src="" alt="" id="procesedImg">
                <p id="processed-img-name"></p>
                <p id="processed-imgSize"></p>
                <a href="" download id="download">Download <i class="fas fa-dowload"></i> </a>
            </div>
        </div>
        <div id="message">
            <h3>Your compressed Images</h3>
            <p>(all your compressed images will appear here) <i class="fas fa-arrow-circle-down"></i> </p>
        </div>
        <h3 id="number_of_images"></h3>
        <div id="sized-reduced-imgs">
        </div>
    </main>

    <footer>
        <h6 class="footer">© 2023 - Present | Techfinace | Developed by Sizwe | Email: sizwenkala80@gmail.com</h6>||
        <a rel="nofollow" href="/about">About Us</a>||
        <a rel="nofollow" href="https://www.termsfeed.com/live/90c022a1-55a6-4cec-861b-c6c0378eda85">Terms and conditions</a>||
        <a rel="nofollow" href="https://www.termsfeed.com/live/df75ee87-4efd-4c4d-b30c-be36f3a58ba8">Privacy policy</a>||
        <a rel="nofollow" href="https://www.termsfeed.com/live/0c68b64f-26af-4b41-a672-ceae438ea022">Cookie policy</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/imgReducer.js"></script>
</body>
</html>