*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222; /* Dark background */
    color: #fff; /* Consistent white text */
}


main{
    flex: 1;
    padding: 20px;
    background-color: #333;
}

header{
    padding: 20px;
    text-align: center;
}

header img {
    border-radius: 15%;
    width: 5%;
}

header h1{
    font-size: 24px;
    margin-top: 10px;
}

main div{
    margin-bottom: 0px;
    padding-left: 80px;
    padding-right: 100px;
}

main h4{
    font-size: 18px;
    margin-bottom: 10px;
}

main h5{
    font-size: 16px;
    margin-bottom: 10px;
}

main img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

iframe{
    margin-left: 20%;
}

main p{
    margin-bottom: 10px;
}

#share-buttons{
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

#share-buttons a{
    margin-left: 10px;
    margin-right: 10px;
    color: #00eeff;
}

.fa-reddit{
    background-color: #fff;
    color: #ff3806;
}

.fa-quora{
    background-color: rgb(248, 16, 16);
    color: #fff;
}


.swiperwrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.swiperwrapper > div {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.308);
}



.swiperwrapper h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.swiperwrapper img {
    width:100%;
    height: auto;
    margin-bottom: 10px;
}

.swiperwrapper p{
    margin-bottom: 10px;
}

.swiperwrapper a{
    display: inline-block;
    font-size: 14px;
    color: #00eeff;
    text-decoration: none;
}

.swiperwrapper a:hover{
    text-decoration: underline;
}

#prevBtn{
display: none;
}
#nextBtn{
display: none;
}

a{
    display: inline-block;
    font-size: 14px;
    color: #00eeff;;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    background-color: #ffffff00;
}


footer{
    background-color: #000000c7;
    padding: 10px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
}

footer  a {
    display: inline-block;
    font-size: 14px;
    color: #6b75ffd8;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.footer{
    font-size: 12px;
}

h6{
    margin-bottom: 5%;
}

@media (max-width: 767px){
    header{
        text-align: center;
        display: block;
    }
    header img {
        border-radius: 15%;
        width: 50%;
    }
    header h1{
        font-size: 20px;
    }

    main{
        padding-right: 5px;
        padding-left: 15px;
        flex: 1;
    }
    main div{
        padding: 3px;
    }

    #contentImage{
        width: 100%;
    }

    iframe{
        max-width: 100%;
        margin: 0;
    }

    #share-buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
        position: relative;
        top: 0px;
        max-width: 100%;
    }

    #Recommended{
        position: relative;
        top: 0px;
    }

    .swiperwrapper{
        display: flex;
        overflow: hidden;
        width: 100%;
        position: relative;
    }
    
    .swiperwrapper > div {
        flex: 0 0 auto;
        width: 100%;
        margin-right: 10px;
        display: none;
        padding-left: 3px;
        background-color: #ffffff;
    }
    .slide.active{
        display: block;
    }
    #prevBtn{
        display: block;
        position: absolute;
        color: black;
        top: 150px;
        left: 0px;
    }
    #nextBtn{
        display: block;
        position: absolute;
        left: 90%;
        top: 150px;
        color: black;
    }
    #nextBtn:hover{
        color: #a89b9b;
    }

    #prevBtn:hover{
        color: #a59c9c;
    }
}

@media (min-width: 768px) and (max-width:1023px){
    header{
        display: flex;
        text-align: center;
        display: block;
    }
    header img{
        width: 30%;
    }
    header h1 {
        font-size: 28px;
    }

    main{
        padding: 15px;
        flex: 1;
    }
    main div{
        padding: 10px;
    }
    iframe{
        margin: 0;
    }
    #share-buttons{
        display: inline-flex;
        gap: 10px;
        align-items: center;
        position: relative;
        top: 0px;
    }

    #Recommended{
        position: relative;
        top: 0px;
    }
}